html {
    background-color: #FFB6C1;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14px;
    width: 100vw;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

div#page {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid #333;
}

div.entete {
    text-align: center;
}

.column {
    padding: 20px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}

div#aboutme {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

.interaction {
    padding: 20px;
    margin: 10px 0;
}

.boite-dialogue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boite-contenu {
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

.titre-dialogue {
    display: block;
    margin-bottom: 15px;
}

.bouton-ok {
    background-color: #00BFFF;
    color: black;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

#sectionAide {
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

input[type="text"], input[type="file"] {
    padding: 5px;
    margin-right: 5px;
}

.fichier-selection {
    margin: 10px 0;
    padding: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 15px;
}

#messageSelection {
    margin-left: 5px;
    display: inline-block;
}

#fichierInput {
    display: none;
}

.fichier-selection button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}